#grid-container {
  height: 500px;
  width: 500px;
  display: grid;
  border: thick solid black;
  background-color: whitesmoke;
  margin-top: 20px;
}

.grid-square {
  border: thin solid lightgray;
}
