.black {
  background-color: black;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.magenta {
  background-color: magenta;
}
.cyan {
  background-color: cyan;
}
