.black {
  background-color: black;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.magenta {
  background-color: magenta;
}
.cyan {
  background-color: cyan;
}
.selected {
  border: 3.5px solid darkgray !important;
}

#toolbar-container {
  height: 470px;
  width: 200px;
  background-color: pink;
  border: solid;
  transform: translateX(-50px) translateY(40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#clear {
  font-weight: bold;
}
#clear,
#eraser {
  font-size: 30px;
  height: 60px;
  width: 150px;
}
#colors-container {
  display: flex;
  justify-content: center;
  height: 35%;
  width: 160px;
}

.colors-container-col {
  display: flex;
  flex-direction: column;
}
